@charset "UTF-8";
:root {
  --main-title-color: white;
  --second-title-color: #303030;
  --third-title-color: #555555;
  --btn-acent-color: #FF6C00;
  --contacts-text-color: #9DA4BD;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #FF6C00;
  --form-second-color: #FF6C00;
  --text-form-placeholder: rgba(117, 117, 117, 0.5);
  --background-gradient: rgba(25, 28, 38, 0.2),
  rgba(25, 28, 38, 0.2);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

li, a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
  padding-bottom: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

address {
  font-style: normal;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ----------------------HEADER------------------------------- */
.header {
  /* background-color: gray; */
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
  /* top: 0;
  right: 12%; */
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  fill: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu > a, .header-contacts_tel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-box-menu {
  gap: 30px;
  margin: 0;
  padding: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-box-menu {
    display: flex;
  }
}

.header-contacts {
  padding-right: 17px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
  }
}

.header-menu > a:hover, .header-menu > a:focus,
.header-contacts_tel:focus, .header-contacts_tel:hover {
  color: var(--btn-acent-color);
  cursor: pointer;
  /* border: 1px solid #000000; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-contacts_btn, .prices-btn, .booking-btn {
  margin-left: 43px;
  border: 1px solid var(--btn-acent-color);
  background: none;
  cursor: pointer;
  border-radius: 25px;
  Width: 160px;
  Height: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-title-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts_btn:hover, .header-contacts_btn:focus,
.prices-btn:hover, .prices-btn:focus,
.booking-btn:hover, .booking-btn:focus {
  background: var(--btn-acent-color);
  border: 1px solid var(--btn-acent-color);
}

/* ----------------------HEADER MOBILE MENU------------------------------- */
.header-menu-btn {
  background: transparent;
  background-color: transparent;
  border: medium none;
  width: 40px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.mob-menu {
  background-color: white;
  width: 70%;
  height: 100vh;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-item > a, .mob-menu-contacts > a {
  font-family: "Open Sans";
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
  margin-top: 118px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.mob-menu-contacts {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.mob-menu-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  margin: 0;
  margin-bottom: 76px;
}

.header-menu-btn-close {
  position: absolute;
  right: 40px;
  top: 60px;
  display: flex;
  background: transparent;
  background-color: transparent;
  border: medium none;
}

.mob-menu-soc_blok {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.mob-menu-soc-link {
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: #303030;
}

.header-menu-btn-close:hover svg, .header-menu-btn-close:focus svg {
  fill: #FF6C00;
}

.modal-close-icon {
  fill: black;
}

.mob-menu-item > a:hover, .mob-menu-item > a:focus,
.header-contacts_tel:focus, .header-contacts_tel:hover,
.footer-item > a:hover, .footer-item > a:hover {
  color: var(--btn-acent-color);
  cursor: pointer;
  /* border: 1px solid #000000; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ----------------------HERO------------------------------- */
.hero-container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1200px;
  }
}

.hero-soc {
  width: 100px;
  display: none;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .hero-soc {
    display: flex;
  }
}

.hero-slider {
  background-color: var(--second-title-color);
  background-image: linear-gradient(var(--background-gradient)), url(../../images/hero_mob_2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;
  /* width: 1070px; */
  flex-grow: 1; /* !!! Заполняет собой всю оставшеєсе место*/
  /* background: rgba(25, 28, 38, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0); */
}
@media screen and (min-width: 768px) {
  .hero-slider {
    background-image: linear-gradient(var(--background-gradient)), url(../images/Hero-slider/slider3-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-slider {
    background-image: linear-gradient(var(--background-gradient)), url(../images/Hero-slider/slider3-desktop-2x.jpg);
  }
}

.hero-social_link {
  display: flex;
  /* padding-left: 0; */
  /* color: #303030; */
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
  color: #090B13;
  padding: 0;
  align-items: center;
}

.hero-social_link::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-link a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link a:hover, .hero-link a:focus {
  color: #FF6C00;
}

.hero-pre-title {
  padding-top: 208px;
  margin-bottom: 20px;
  margin-left: 31px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
@media screen and (min-width: 768px) {
  .hero-pre-title {
    padding-top: 272px;
    margin-left: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-pre-title {
    margin-left: 100px;
  }
}

.hero-title {
  margin-left: 31px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-left: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-left: 100px;
    font-size: 72px;
    line-height: 1.1805555556;
  }
}

.hero-after-title {
  margin-left: 31px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .hero-after-title {
    margin-left: 98px;
    font-size: 18px;
    line-height: 1.6666666667;
  }
}
@media screen and (min-width: 1200px) {
  .hero-after-title {
    margin-left: 100px;
  }
}

.about-list {
  display: inline-flex;
  padding-left: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .about-list {
    margin-right: 30px;
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: inline-flex;
  }
}

.about-img_1 {
  margin-left: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .about-img_1 {
    display: flex;
    margin-bottom: 30px;
  }
  .about-img_1 > img {
    width: 330px;
    height: 225px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img_1 {
    display: flex;
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .about-img_1 > img {
    width: 270px;
    height: 445px;
  }
}

.about-img_2 {
  margin-left: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .about-img_2 {
    display: inline-block;
  }
  .about-img_2 > img {
    width: 330px;
    height: 225px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img_2 {
    display: flex;
    margin-right: 30px;
  }
  .about-img_2 > img {
    width: 270px;
    height: 445px;
  }
}

.about_box {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 429px;
}
@media screen and (min-width: 768px) {
  .about_box {
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .about_box {
    height: 445px;
  }
}

.about_text-box {
  width: 470px;
  height: 445px;
  margin-bottom: 0;
}

.about-pre-title {
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: var(--second-title-color);
}

.about-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.about-after-title {
  margin-bottom: 42px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}
@media screen and (min-width: 768px) {
  .about-after-title {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-text {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

.about-btn {
  margin-bottom: 0px;
  width: 160px;
  height: 40px;
  border: 1px solid var(--btn-acent-color);
  background-color: var(--main-title-color);
  border-radius: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover, .about-btn:focus {
  background-color: var(--btn-acent-color);
  color: var(--main-title-color);
}

.prices {
  background-color: #111319;
  background-image: url(../images/price_desktop_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  position: relative;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .prices-title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.prices-wrap {
  display: block;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .prices-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background: none;
  }
}

.prices-list1 {
  padding: 30px 20px 0px 20px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .prices-list1 {
    padding: 30px 20px;
    width: 570px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.prices-list2 {
  padding: 20px 20px 30px 20px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .prices-list2 {
    padding: 30px 20px;
    width: 570px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-list-text:last-child {
  order: 1; /* ВАЖЛИВО!!! змінює порядок відображення в батька */
}

.prices-list-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  /* identical to box height, or 167% */
  text-align: right;
  letter-spacing: 0.02em;
  flex-shrink: 0; /* ВАЖЛИВО!!! не дає переносити на новий рядоку */
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .prices-list-text {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}
.prices-btn {
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

/* ----------------------BENEFITS------------------------------- */
.benefits-box {
  display: flex;
  flex-flow: wrap;
}
@media screen and (min-width: 768px) {
  .benefits-box {
    justify-content: right;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-box {
    display: flex;
    justify-content: start;
    flex-flow: nowrap;
  }
}

.benefits-list {
  display: flex;
  width: 569px;
  flex-wrap: wrap;
  margin: 0;
  order: 1;
  margin-top: 44px;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    order: 0;
    margin-top: 0;
  }
}

.benefits-item {
  width: 193px;
  height: 133px;
  background: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
  }
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item > span::after {
  content: "+";
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  vertical-align: top;
  color: #FF6C00;
}

.benefits-item span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.benefits-item-text {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-align: center;
  color: var(--second-title-color);
}

.benefits-pre-title {
  margin-top: 9px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.benefits-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
@media screen and (min-width: 768px) {
  .benefits-title {
    font-size: 42px;
  }
}

.benefits-after-title {
  margin-top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

/* ----------------------BARBERS------------------------------- */
.barbers {
  background: #F7F7F7;
}

.barbers-pre-title {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  align-items: center;
  justify-content: center;
  /* identical to box height */
  text-transform: uppercase;
  align-content: center;
  color: var(--second-title-color);
}

/*  */
.barber-pre-span {
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.barbers-pre-icon {
  height: 11px;
  width: 60px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.grey-line {
  fill: rgba(157, 164, 189, 0.6);
}

.barbers-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.barber-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .barber-list {
    display: inline-flex;
    padding-left: 0;
    margin: 0;
    gap: 30px;
  }
}

.barber-item-name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.barber-item-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--btn-acent-color);
}

/* social link */
.barbers-soc-list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* margin-bottom: 30px; */
  margin-top: 30px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-icon:hover, .barbers-soc-icon:focus {
  fill: #FF6C00;
  transform: scale(1.1);
}

.barbers-soc-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barbers-soc--link {
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------- */
.barber-item {
  width: "100%"-60px/3;
}

.barber-item:hover .barber-top-text, .barber-item:focus {
  transform: translateY(0);
}

.barber-box-text {
  position: relative;
  overflow: hidden;
}

.barber-top-text {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20%;
  background-color: rgba(25, 28, 38, 0.6);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5625;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

/* ----------------------OUR WORK------------------------------- */
.work {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-pre-title {
  margin-bottom: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.work-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-item {
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-item > img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .work-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work-item {
    width: calc((100% - 90px) / 4);
  }
}

.work-item:hover, .work-item:focus {
  transform: scale(1.1);
}

/* ----------------------BOOKING------------------------------- */
.contact-wrap {
  background: #191C26;
  background-image: url(../images/contacts_mob_1x.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    background-size: 100% 50%;
    background-image: url(../images/contacts_tablet_1x.svg);
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    background-size: 50%;
    background-position: right;
    background-image: url(../images/contacts_desktop_1x.svg);
  }
}

@media screen and (min-width: 1200px) {
  .booking-contacts_box {
    display: flex;
    justify-content: flex-start;
  }
}

.booking-btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bokking-contacts {
  display: flex;
  justify-content: flex-start;
}

.booking {
  display: block;
  height: 557px;
  max-width: 468px;
}
@media screen and (min-width: 768px) {
  .booking {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .booking {
    max-width: 600px;
  }
}

.booking-title {
  padding-top: 84px;
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .booking-title {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .booking-title {
    padding-top: 130px;
  }
}

.contacts {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 100px;
  }
}

.contacts-title {
  margin-top: 84px;
  margin-bottom: 40px;
  margin-left: 30%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .contacts-title {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-title {
    margin-top: 130px;
  }
}

.contacts-adr {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts-adr {
    margin-right: 31px;
  }
}

.contacts-map-link {
  /* margin-bottom: 20px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-pre-span {
  margin-right: 16px;
}

.contacts-map-svg, .contacts-svg {
  /* display: flex; */
  width: 24px;
  height: 24px;
  align-content: center;
  justify-content: center;
  align-items: center;
  fill: #9DA4BD;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.contacts-item {
  margin-top: 20px;
  margin-bottom: 0;
}

.contacts-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-subtitle {
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .contacts-subtitle {
    margin-top: 0px;
  }
}

.contacts-subtimework {
  padding-bottom: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts-subtimework {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-box_tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    padding-bottom: 100px;
  }
}
.contacts-item:focus > a, .contacts-item:hover > a,
.contacts-item:focus .contacts-map-svg, .contacts-item:hover .contacts-map-svg,
.contacts-adr-map:focus > a, .contacts-adr-map:hover > a,
.contacts-adr-map:hover .contacts-svg, .ccontacts-adr-map:focus .contacts-svg {
  color: #FF6C00;
  fill: #FF6C00;
}

.online-form {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .online-form {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .online-form {
    justify-content: space-between;
    padding-right: 30px;
  }
}

.online-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-color 200ms linear;
}

.online-input {
  margin-top: 44px;
  width: 100%;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .online-input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 270px;
  }
}

/* .tm2{
    margin-right: 30px;

} */
.online-item:hover, .online-item:focus {
  border-color: #F7F7F7;
}

.online-form > .online-item:focus-visible {
  outline-color: #F7F7F7;
  outline: none;
}

.online-item::-moz-placeholder {
  font-weight: 600px;
  font-size: 11px;
  line-height: 1.36;
  margin-bottom: 8px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  outline: transparent;
  text-transform: uppercase;
}

.online-item::placeholder {
  font-weight: 600px;
  font-size: 11px;
  line-height: 1.36;
  margin-bottom: 8px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  outline: transparent;
  text-transform: uppercase;
}

.online-item:focus::-moz-placeholder, .online-item:hover::-moz-placeholder {
  color: #F7F7F7;
}

.online-item:focus::placeholder, .online-item:hover::placeholder {
  color: #F7F7F7;
}

.online-item {
  font-weight: 600px;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 8px;
  letter-spacing: 0.1em;
  color: #F7F7F7;
}

.online-textarea {
  margin-top: 44px;
  margin-bottom: 44px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 75px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.online-btn {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .online-btn {
    margin-left: 0;
  }
}

/* ----------------------FOOTER------------------------------- */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background: #F7F7F7;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  /* margin-right: 773px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: var(--contacts-text-color);
}

.footer-list {
  margin: 0;
  display: inline-flex;
}

.footer-item {
  margin-left: 40px;
}

.footer-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: var(--btn-acent-color);
}

/* ------------------- МОДАЛЬНЕ ВІКНО------------------ */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(252, 247, 247, 0.5);
  position: fixed;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  min-height: 581px;
  width: 528px;
  background-color: #F7F7F7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  border-radius: 10px;
  border: 1px solid #141414;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  /* fill:#303030 ; */
  position: absolute;
  right: 10px;
  top: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
  padding: 0;
  border: none;
}

.modal-close-btn:hover svg, .modal-close-btn:focus svg {
  fill: #FF6C00;
}

.modal-close-icon {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  fill: #555555;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon use {
  height: 30px;
  width: 50px;
  margin: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

/* --------Форма: Залиште свої дані ------------*/
.form {
  width: 448px;
  margin: 40px;
}

.form-field, .form-comment {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-field input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment::-moz-placeholder {
  color: var(--text-form-placeholder);
}

.comment::placeholder {
  color: var(--text-form-placeholder);
}

.form-field label, .form-comment label {
  margin-bottom: 4px;
}

.form-checkbox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-form-placeholder);
}

.form-field input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-form-placeholder);
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-comment {
  display: flex;
  flex-direction: column;
}

.form-checkbox a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--form-second-color);
  border-bottom: 1px solid var(--form-second-color);
}

.form-field:focus input, .form-field:hover input,
.form-field:active input, .form-field:hover svg,
.form-comment:focus textarea, .form-comment:hover textarea {
  border-color: var(--form-second-color);
  fill: var(--accent-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button-form:focus, .button-form:hover {
  background: #FF6C00;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-icon {
  position: relative;
  flex-direction: column;
}

.form-icon input {
  width: 448px;
}

.form-icon svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  margin-left: 15px;
  box-sizing: border-box;
}

.input:focus-visible, .comment:focus-visible {
  outline: 1px solid var(--accent-color);
  border-radius: 3px;
}

.form-subscription:focus-visible {
  color: var(--footer-text-color);
}

/* ховаемо чекбокс */
.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox > label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-span {
  display: inline-block;
  position: relative;
  height: 15px;
  width: 16px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
  margin-right: 7px;
  margin-left: 12px;
}

.icons-checkbox {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-origin: border-box;
  z-index: 0;
}

.checkbox:checked + .icon-span {
  background: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
  z-index: 1;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */