/* Для підключення скаченних шрифтів
@font-face {
    font-family: Sans-bold;
    src: url(../fonts/openSans);
} */

:root{
    --main-title-color: white;
    --second-title-color: #303030;
    --third-title-color: #555555;
    --btn-acent-color: #FF6C00;
    --contacts-text-color: #9DA4BD;

    
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #FF6C00;
  --form-second-color: #FF6C00;
  --text-form-placeholder: rgba(117, 117, 117, 0.5);
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

img{
display: block;
}


li, a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

address{
    font-style: normal;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    padding-bottom: 0;
    margin-bottom: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;  
}


/* ----------------------HEADER------------------------------- */
.header{
    /* background-color: gray; */
    padding-top: 32px;
    padding-bottom: 32px;

    position: absolute;
    width: 100%;

    /* top: 0;
    right: 12%; */
    
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 131px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu > a, .header-contacts_tel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--main-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-box-menu{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.header-contacts{
    padding-right: 17px;
}

.header-menu > a:hover, .header-menu > a:focus,
.header-contacts_tel:focus, .header-contacts_tel:hover{
    color: var(--btn-acent-color);
    cursor: pointer;
    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-contacts_btn, .prices-btn, .booking-btn{
    margin-left: 43px;
    border: 1px solid var(--btn-acent-color);
    background: none;
    cursor: pointer;

    border-radius: 25px;
    Width: 160px;
    Height: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--main-title-color);

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts_btn:hover, .header-contacts_btn:focus,
.prices-btn:hover, .prices-btn:focus,
.booking-btn:hover, .booking-btn:focus{
    background: var(--btn-acent-color);
    border: 1px solid var(--btn-acent-color);
}



/* ----------------------HERO------------------------------- */


.hero {
    
}

.hero-container{
    display: flex
}


.hero-soc{
    width: 100px;
    display: flex;
    align-items: flex-end;
}



.hero-slider{
    background-color: var(--second-title-color);
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
        ),
     url(../images/Hero-slider/slider3desktop1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 680px;
    /* width: 1070px; */
    flex-grow: 1; /* !!! Заполняет собой всю оставшеєсе место*/
    /* background: rgba(25, 28, 38, 0.2);
    transform: matrix(-1, 0, 0, 1, 0, 0); */

}
.hero-social_link {
    display: flex;
    /* padding-left: 0; */
    /* color: #303030; */
    transform: rotate(-90deg) translateY(100%) ;
    transform-origin: bottom left;
    gap: 40px;
    color: #090B13;
    padding: 0;
    align-items: center;
    
}

.hero-social_link::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;

}

.hero-link a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-decoration: none;
    
    letter-spacing: 0.2em;
    
    color: #303030;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link a:hover, .hero-link a:focus{
    color: #FF6C00;
}


.hero-pre-title {
    padding-top: 272px;
    margin-bottom: 20px;
    margin-left: 100px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);
}
.hero-title {
    margin-left: 100px;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85/72);

    letter-spacing: 0.05em;

    color: var(--main-title-color);
}

.hero-after-title {
    margin-left: 100px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30/18);

    letter-spacing: 0.02em;

    color: #9DA4BD;
}


/* ----------------------ABOUT------------------------------- */



.about-list {
    display: inline-flex;
    padding-left: 0;
    margin: 0;
}

.about-img_1 {
    margin-left: 0;
    margin-right: 30px;
}

.about-img_2 {
    margin-left: 0;
    margin-right: 30px;
}

.about_box{
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 445px;
}

.about_text-box{
    width: 470px;
    height: 445px;
    margin-bottom: 0;
}


.about-pre-title {
    margin-bottom: 20px;
    margin-top: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: var(--second-title-color) ;

}
.about-title {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;

    color: var(--second-title-color) ;
}
.about-after-title {
    margin-bottom: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;

    letter-spacing: 0.02em;

    color: var(--third-title-color);
}
.about-text {
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;


    letter-spacing: 0.02em;

    color: var(--third-title-color);
}

.about-btn{
    margin-bottom: 0px;

    width: 160px;
    height: 40px;
    
    border: 1px solid var(--btn-acent-color);
    background-color: var(--main-title-color);
    border-radius: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--second-title-color) ;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover, .about-btn:focus{
    background-color: var(--btn-acent-color);
    color: var(--main-title-color);
}


/* ----------------------PRICES------------------------------- */

.prices {
    background-color: #111319;
    background-image: url(../images/price_desktop_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}
.prices-pre-title {
    margin-bottom: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);
}
.prices-title {
    margin-bottom: 44px;
    position: relative;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;

    color: var(--main-title-color);
}

.prices-wrap{
    display: flex;
    gap: 30px;
}
.prices-list1 {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 20px;
    width: calc((100%-30px)/2);
}

.prices-list2 {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    padding: 30px 20px;
    width: calc((100%-30px)/2);
}
.prices-item {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: baseline;
}

.prices-item + .prices-item {
    margin-top: 20px;
}

.prices-item::after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    
}

.prices-list-text:last-child{
    order: 1; /* ВАЖЛИВО!!! змінює порядок відображення в батька */
}

.prices-list-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    text-align: right;
    letter-spacing: 0.02em;

    
    flex-shrink: 0; /* ВАЖЛИВО!!! не дає переносити на новий рядоку */

    color: #9DA4BD;
}
.prices-btn {
    margin: 0 auto;
    display: block;
    margin-top: 44px;

}


/* ----------------------BENEFITS------------------------------- */

.benefits {
}

.benefits-box{
    display: flex;

}

.benefits-list{
    display: flex;
    width: 569px;
    flex-wrap: wrap;
    margin: 0;
}



.benefits-item {
    width: 170px;
    height: 133px;
    background: #F7F7F7;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    margin: 0;
}

.benefits-item:nth-child(odd){
    margin-right: 30px;

}

.benefits-item:nth-child(even){
    margin-top: 30px;
    
}

.benefits-item > span::after{
    content: "+";
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22/16);

    vertical-align: top;


    color: #FF6C00;

}

.benefits-item span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57/42);
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--second-title-color);
}
.benefits-item-text {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 6px;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-align: center;

    color: var(--second-title-color);
}
.benefits-pre-title {
    margin-top: 9px;
    margin-bottom: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    text-transform: uppercase;

    color: var(--second-title-color);
}
.benefits-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;

    color:var(--second-title-color);
}
.benefits-after-title {
    margin-top: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;

    color: var(--third-title-color);
}

/* ----------------------BARBERS------------------------------- */

.barbers {
    background: #F7F7F7;
}
.barbers-pre-title {
    margin-bottom: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    align-items: center;
    justify-content: center;
    /* identical to box height */

    text-transform: uppercase;
    align-content: center;

    color: var(--second-title-color);
}

/*  */

.barber-pre-span{
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.barbers-pre-icon{
    height: 11px;
    width: 60px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.grey-line{
    fill: rgba(157, 164, 189, 0.6);;
}

.barbers-title {
    margin-bottom: 44px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;

    color: var(--second-title-color);
}

.barber-list {
    display: inline-flex;
    padding-left: 0;
    margin: 0;
    gap: 30px;
}

.barber-item-img {
}

.barber-item-name {
    margin-top: 30px;
    margin-bottom: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25/18);
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--second-title-color)
}



.barber-item-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(19/14);
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--btn-acent-color);
}



/* social link */

.barbers-soc-list {

    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-bottom: 30px; */
    margin-top: 30px;


}
.list {
}
.barbers-soc-item {
    width: 44px;
    height: 44px;
    
}

.barbers-soc-icon:hover, .barbers-soc-icon:focus{
    fill: #FF6C00;
}

.barbers-soc-icon{
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barbers-soc--link {
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------- */

.barber-item{
    width: ((100%-60px)/3);
    
}

.barber-item:hover .barber-top-text, .barber-item:focus{
    transform: translateY(0);

}

.barber-box-text{
    position: relative;
    overflow: hidden;

}

.barber-top-text{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;

    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20%;
    background-color: rgba(25, 28, 38, 0.6);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(25/16);
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: white;

    transform:translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
/* ----------------------OUR WORK------------------------------- */

.work {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.work-pre-title {
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    text-transform: uppercase;

    color: var(--second-title-color);
}
.work-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 30px;
}

.work-item{
    width: ((100%-30px)/4);
}



/* ----------------------BOOKING------------------------------- */
.contact-wrap{
    background: #191C26;
    background-image: url(../images/contacts_desktop_1x.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    max-width: 1600px;
    margin: 0 auto;
}

.booking-contacts_box{
    display: flex;

    justify-content: center;

}

.booking-btn{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.bokking-contacts{
    
    display: inline-flex;
}

.booking {

    display: block;
    min-width: calc(1200px/2);

}
.booking-title {
    padding-top: 130px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--main-title-color);
}

.contacts{

    min-width: calc(1200px/2);
    padding-left: 100px;
}

.contacts-title {
    margin-top: 130px;
    margin-bottom: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    
    color: var(--main-title-color);
}
.contacts-adr {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-map-link {
    /* margin-bottom: 20px; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: var(--contacts-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-pre-span{
    margin-right: 16px;

}

.contacts-map-svg, .contacts-svg {
    /* display: flex; */
    width: 24px;
    height: 24px;

    align-content: center;
    justify-content: center;
    align-items: center;
    fill: #9DA4BD;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-list {
    margin: 0;
    padding: 0;
}
.contacts-item {
    margin-top: 20px;
    margin-bottom: 0;

}
.contacts-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    letter-spacing: 0.02em;

    color: var(--contacts-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-subtitle {
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: var(--main-title-color);
}
.contacts-subtimework {
    margin-bottom: 120px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    letter-spacing: 0.02em;

    color: var(--contacts-text-color);
}

.contacts-item:focus > a, .contacts-item:hover > a,
.contacts-item:focus .contacts-map-svg, .contacts-item:hover .contacts-map-svg,
.contacts-adr-map:focus > a, .contacts-adr-map:hover > a,
.contacts-adr-map:hover  .contacts-svg, .ccontacts-adr-map:focus  .contacts-svg {
    color: #FF6C00 ;
    fill: #FF6C00;

}



/* ----------------------FOOTER------------------------------- */

.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background: #F7F7F7;
}


.footer-box{
 display: flex;
 justify-content: space-between;
}

.footer-title {
    /* margin-right: 773px; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: var(--contacts-text-color);
}
.footer-list {
    margin: 0;
    display: inline-flex;

}
.footer-item {
    margin-left: 40px;
}
.footer-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: var(--second-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus{
    color: var(--btn-acent-color);
}




/* ------------------- МОДАЛЬНЕ ВІКНО------------------ */

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(252, 247, 247, 0.5);
    position: fixed;
    top: 0;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    min-height: 581px;
    width: 528px;
    background-color: #F7F7F7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) scaleY(1);
    border-radius: 10px;
    border: 1px solid #141414;

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    /* fill:#303030 ; */
    position: absolute;
    right: 10px;
    top: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
    padding: 0;
    border: none;

    
}

.modal-close-btn:hover svg, .modal-close-btn:focus svg{
 fill: #FF6C00;
}

.modal-close-icon{
 height: 30px;
 width: 30px;
 margin: 0;
 padding: 0;
 fill: #555555;

 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon use{
    height: 30px;
    width: 50px;
    margin: 0;
    padding: 0;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0);
}

.online-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
    
}

.online-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    transition: border-color 200ms linear;
}

.online-input {
    margin-top: 44px;
    width: 270px;
    height: 24px;

}

.tm2{
    margin-right: 30px;

}

.online-item:hover, .online-item:focus{
    border-color: #F7F7F7;
    
}

.online-form > .online-item:focus-visible{
    outline-color: #F7F7F7;
    outline: none;
   
    
}

.online-item::placeholder {
    font-weight: 600px;
    font-size: 11px;
    line-height: 1.36;
    margin-bottom: 8px;
    letter-spacing: 0.1em;
    color: rgba(157, 164, 189, 0.4);
    outline: transparent;
    text-transform: uppercase;
  
}

.online-item:, .online-item:focus-within, .online-item:focus-visible  {
    color: #F7F7F7;
}


.online-textarea{
    margin-top: 44px;
    margin-bottom: 44px;
    

    outline: transparent;
    background-color: transparent;
    width: 100%;
    height: 75px;

    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}


.booking-btn {
}
.online-btn {
}
/* --------Форма: Залиште свої дані ------------*/

.form{
    width: 448px;
    margin: 40px;
  }
  
  .form-field, .form-comment{
    display: flex;
    flex-direction: column;
  
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  
  
    letter-spacing: 0.01em;
    color: var(--title-text-color);
  }
  
  .form-field input{
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  
  
  
  .comment{
  
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
   
    resize: none; 
    width: 448px;
      height: 120px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  
  
  
  .comment::placeholder{
    color: var(--text-form-placeholder);
  }
  
  .form-field label,   .form-comment label{
    margin-bottom: 4px;
  }
  
  .form-checkbox{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--title-text-color);
  }
  
  .form-field input::placeholder{
  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: var(--text-form-placeholder);
  }
  
  .form-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .form-comment{
    display: flex;
    flex-direction: column;
  }
  
  .form-checkbox a{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
    color: var(--form-second-color);
    border-bottom: 1px solid var(--form-second-color);
  
  }
  
  .form-field:focus input, .form-field:hover input,
   .form-field:active input, .form-field:hover svg,
   .form-comment:focus textarea, .form-comment:hover textarea  {
    border-color: var(--form-second-color);
    fill:var(--accent-color); 
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-form{
    
    cursor: pointer;
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  
    text-align: center;
  
    letter-spacing: 0.06em;
  
    color: var(--second-text-color);
    background: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
  }
  
  .button-form:focus, .button-form:hover{
    background: #FF6C00;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .form-icon {
    position: relative;
    flex-direction: column;
  }
  
  .form-icon input{
    width: 448px;
  }
  
  .form-icon svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( 0%, -50%);
  
    margin-left: 15px;
    box-sizing: border-box;
  
  }
  
  .input:focus-visible, .comment:focus-visible {
    outline: 1px solid var(--accent-color);
    border-radius: 3px;
  }
  
  .form-subscription:focus-visible{
    color: var(--footer-text-color);
  }
  
  /* ховаемо чекбокс */
  
  .checkbox{
    appearance: none;
    
  }
  
  .form-checkbox > label{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-span{
    display: inline-block;
    position: relative;
    height: 15px;
    width: 16px;
    border: 2px solid rgba(33, 33, 33, 1);
    ;
    border-radius: 4px;
    margin-right: 7px;
    margin-left: 12px;
  }
  
  
  .icons-checkbox{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  
    background-origin: border-box;
    z-index: 0; 
  }
  
  
  
  .checkbox:checked + .icon-span{
    background: var(--accent-color);
    border-color: var(--accent-color);
    background-origin: border-box;
    z-index: 1;
  
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }