:root{
    --main-title-color: white;
    --second-title-color: #303030;
    --third-title-color: #555555;
    --btn-acent-color: #FF6C00;
    --contacts-text-color: #9DA4BD;

    
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #FF6C00;
  --form-second-color: #FF6C00;
  --text-form-placeholder: rgba(117, 117, 117, 0.5);
  --background-gradient: rgba(25, 28, 38, 0.2),
  rgba(25, 28, 38, 0.2);
}