/* ----------------------BOOKING------------------------------- */
.contact-wrap{
    background: #191C26;
    background-image: url(../images/contacts_mob_1x.svg);
    background-repeat: no-repeat;
    // background-size: contain;
    // background-size: 468px;
    background-size: 100% 50%; 
    background-position: bottom;  

    @media screen and (min-width: 768px) {
        // max-width: 768px;
        background-size: 100% 50%;
        // background-size: 768px;  
        background-image: url(../images/contacts_tablet_1x.svg);
    }
    
    @media screen and (min-width: 1200px) {
        // max-width: 1200px;
        background-size: 50%;
        background-position: right;  
        background-image: url(../images/contacts_desktop_1x.svg);

    }


}




.booking-contacts_box{
    
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: flex-start;
    }

}

.booking-btn{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.bokking-contacts{
    
    display: flex;
    justify-content: flex-start;
}

.booking {

    display: block;
    height: 557px;
    max-width: 468px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
    @media screen and (min-width: 1200px) {

        max-width: calc(1200px/2);
    }

}
.booking-title {
    padding-top: 84px;
    display: flex;
    justify-content: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--main-title-color);


    @media screen and (min-width: 768px) {
        justify-content: start;

    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 130px;
    }
}

.contacts{

    // min-width: calc(1200px/2);

    margin: 0;


    // max-width: 1600px;
    

    @media screen and (min-width: 768px) {

    }
    
    @media screen and (min-width: 1200px) {
        margin-left: 100px;
        // margin: 0 auto;
    }
}

.contacts-title {

    margin-top: 84px;
    margin-bottom: 40px;
    margin-left: 30%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    
    color: var(--main-title-color);

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
    
    @media screen and (min-width: 1200px) {
        margin-top: 130px;
    }
}
.contacts-adr {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        margin-right: 31px;

    }
}
.contacts-map-link {
    /* margin-bottom: 20px; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: var(--contacts-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-pre-span{
    margin-right: 16px;

}

.contacts-map-svg, .contacts-svg {
    /* display: flex; */
    width: 24px;
    height: 24px;

    align-content: center;
    justify-content: center;
    align-items: center;
    fill: #9DA4BD;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-list {
    margin: 0;
    padding: 0;
}
.contacts-item {
    margin-top: 20px;
    margin-bottom: 0;

}
.contacts-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    letter-spacing: 0.02em;

    color: var(--contacts-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-subtitle {
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: var(--main-title-color);

    @media screen and (min-width: 768px) {
        margin-top: 0px;

    }
}
.contacts-subtimework {
    padding-bottom: 84px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    letter-spacing: 0.02em;

    color: var(--contacts-text-color);

    @media screen and (min-width: 768px) {

    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 120px;
    }
}


.contacts-box_tablet{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 31px;
        padding-bottom: 100px;
    }
    
    @media screen and (min-width: 1200px) {

    }
}

.contacts-item:focus > a, .contacts-item:hover > a,
.contacts-item:focus .contacts-map-svg, .contacts-item:hover .contacts-map-svg,
.contacts-adr-map:focus > a, .contacts-adr-map:hover > a,
.contacts-adr-map:hover  .contacts-svg, .ccontacts-adr-map:focus  .contacts-svg {
    color: #FF6C00 ;
    fill: #FF6C00;

}


.online-form{
    display: block;
    justify-content: center;

    flex-wrap: wrap;
    

    @media screen and (min-width: 768px) {

        display: flex;
        justify-content: space-between;
    }
    
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        padding-right: 30px;
    }

    
}

.online-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    transition: border-color 200ms linear;
}

.online-input {
    margin-top: 44px;
    width: 100%;
    height: 24px;

    @media screen and (min-width: 768px) {
        width: 330px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}

/* .tm2{
    margin-right: 30px;

} */

.online-item:hover, .online-item:focus{
    border-color: #F7F7F7;
    
}

.online-form > .online-item:focus-visible{
    outline-color: #F7F7F7;
    outline: none;
   
    
}

.online-item::placeholder {
    font-weight: 600px;
    font-size: 11px;
    line-height: 1.36;
    margin-bottom: 8px;
    letter-spacing: 0.1em;
    color: rgba(157, 164, 189, 0.4);
    outline: transparent;
    text-transform: uppercase;
  
}

.online-item:focus::placeholder, .online-item:hover::placeholder  {
    color: #F7F7F7;

}

.online-item { 
    font-weight: 600px;
    font-size: 14px;
    line-height: 1.36;
    margin-bottom: 8px;
    letter-spacing: 0.1em;
    color: #F7F7F7;
  }


.online-textarea {
    margin-top: 44px;
    margin-bottom: 44px;

    

    outline: transparent;
    background-color: transparent;
    resize: none;
    width: 100%;

    height: 75px;

    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}


.booking-btn {



}
.online-btn {
    margin-left: 0;

    @media screen and (min-width: 768px) {

    }
    
    @media screen and (min-width: 1200px) {
        margin-left: 0;
    }

}