/* ----------------------HEADER------------------------------- */
.header{
    /* background-color: gray; */
    padding-top: 32px;
    padding-bottom: 32px;

    position: absolute;
    width: 100%;

    
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-logo{



    @media screen and (min-width: 768px) {
        margin-right: 58px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 131px;
    }

}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-menu > a, .header-contacts_tel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--main-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-box-menu{

    gap: 30px;
    margin: 0;
    padding: 0;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.header-contacts{
    padding-right: 17px;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
        margin-top: 40px;
        padding-right: 0;



    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        padding-right: 17px;
    }
}

.header-menu > a:hover, .header-menu > a:focus,
.header-contacts_tel:focus, .header-contacts_tel:hover{
    color: var(--btn-acent-color);
    cursor: pointer;
    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-contacts_btn, .prices-btn, .booking-btn{
    margin-left: 43px;
    border: 1px solid var(--btn-acent-color);
    background: none;
    cursor: pointer;

    border-radius: 25px;
    Width: 160px;
    Height: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--main-title-color);

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts_btn{
    @media screen and (min-width: 768px) {
        
        margin-left: 0px;

    }

    @media screen and (min-width: 1200px) {
        margin-left: 43px;
    }
}

.header-contacts_btn:hover, .header-contacts_btn:focus,
.prices-btn:hover, .prices-btn:focus,
.booking-btn:hover, .booking-btn:focus{
    background: var(--btn-acent-color);
    border: 1px solid var(--btn-acent-color);
}

/* ----------------------HEADER MOBILE MENU------------------------------- */

.header-menu-btn{
    background: transparent;
    background-color: transparent;
    border: medium none;
    width: 40px;
    padding: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.mob-menu{
    background-color: white;
    width: 70%;
    height: 100vh;
    top: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    overflow: auto;


    @media screen and (min-width: 768px) {
        display: none;
    }



}

.mob-menu-item > a, .mob-menu-contacts > a{
    
    font-family: 'Open Sans';
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(25/18);
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #303030;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mob-menu-list{
  margin-top: 118px;  
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.mob-menu-contacts{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}

.mob-menu-button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: #303030;
    margin: 0;
    margin-bottom: 76px;
}

.header-menu-btn-close{
    position: absolute;
    right: 40px;
    top: 60px;
    display: flex;

    background: transparent;
    background-color: transparent;
    border: medium none;



}

.mob-menu-soc_blok{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}


.mob-menu-soc-link {
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(19/14);
    
    letter-spacing: 0.2em;
    color: #303030;
}

.header-menu-btn-close:hover svg, .header-menu-btn-close:focus svg{
    fill: #FF6C00;
   }

.modal-close-icon{
    fill: black;
}

.mob-menu-item > a:hover, .mob-menu-item > a:focus,
.header-contacts_tel:focus, .header-contacts_tel:hover,
.footer-item > a:hover, .footer-item > a:hover{
    color: var(--btn-acent-color);
    cursor: pointer;
    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

